Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [3]:
data=[4,8,15,16,23,42]
df=pd.Series(data)
print(df)
print(type(df))

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64
<class 'pandas.core.series.Series'>

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [4]:
data1=[1,2,3,4,5,6,7,8,9,10]
df1=pd.Series(data1)

In [6]:
df1

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
Q3. Create a Pandas DataFrame that contains the following data:

Then, print the DataFrame.

Name
Alice
Bob
Claire

Age
25
30
27

Gender
Female
Male
Female

In [14]:
data2={'Name':['Alice', 'Bob', 'Claire'], 'Age':[25, 30, 27], 'Gender':["Female","Male","Female"]}
df2=pd.DataFrame(data2)

In [15]:
df2

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
Q7. Create a DataFrame using multiple Series. Explain with an example.

A DataFrame is a 2-dimensional table-like data structure in pandas, similar to a spreadsheet or a SQL table. 
It is composed of rows and columns, where each column can hold data of different types, such as integers, floats, strings, or even other DataFrames. 

On the other hand, a pandas Series is a one-dimensional array-like object that can hold any data type, such as integers, floats, strings, or Python objects. 
It is similar to a column in a DataFrame, but does not have column names.

Here's an example of how to create a DataFrame and a Series:

```python
import pandas as pd

# creating a DataFrame
df = pd.DataFrame({'Name': ['John', 'Sara', 'Adam'], 'Age': [25, 30, 28], 'City': ['New York', 'Paris', 'London']})
print(df)

# creating a Series
s = pd.Series([25, 30, 28])
print(s)
```

In this example, we create a DataFrame with three columns: Name, Age, and City, and three rows with corresponding values. 
We also create a Series with three values that represent the ages of the individuals in the DataFrame. 

As you can see, the DataFrame displays all three columns and their values, while the Series only displays the values themselves. 
Additionally, the DataFrame has column names and row indexes, whereas the Series only has row indexes.

There are many functions available in Pandas to manipulate data in a DataFrame. 
Some of the most common functions include: 

1. `head()`: Displays the first n rows of a DataFrame.

```python
df.head(10)
```

2. `tail()`: Displays the last n rows of a DataFrame.

```python
df.tail(10)
```

3. `describe()`: Generates descriptive statistics of a DataFrame.

```python
df.describe()
```

4. `drop()`: Drops one or more columns or rows from a DataFrame.

```python 
df = df.drop(['column_name1', 'column_name2'], axis=1)
```

5. `groupby()`: Groups data by one or more columns and applies a summary function.

```python
df.groupby('column_name').mean()
```

6. `sort_values()`: Sorts DataFrame by one or more columns.

```python
df.sort_values(by='column_name', ascending=False)
```

7. `merge()`: Merges two DataFrames into one based on a common column.

```python
merged_df = pd.merge(df1, df2, on='column_name')
```

In [ ]:
Series and DataFrame are mutable in nature in Pandas, while Panel is immutable. 
This means that you can modify Series and DataFrame objects after they are created, 
but you cannot modify a Panel object once it has been created.

In [17]:
import pandas as pd

name_series = pd.Series(['Alice', 'Bob', 'Charlie'])

age_series = pd.Series([25, 30, 35])


city_series = pd.Series(['Paris', 'New York', 'London'])
print(name_series)
print(age_series)
print(city_series)

df = pd.DataFrame({'Name': name_series, 'Age': age_series, 'City': city_series})


print(df)

0      Alice
1        Bob
2    Charlie
dtype: object
0    25
1    30
2    35
dtype: int64
0       Paris
1    New York
2      London
dtype: object
      Name  Age      City
0    Alice   25     Paris
1      Bob   30  New York
2  Charlie   35    London